:root{
    --gap: 1rem;
    --max-width: 100%;

    @media(min-width: 36rem){
        --gap: 2rem;
        --max-width: 32rem;
    }

    @media(min-width: 48rem){
        --gap: 3rem;
        --max-width: 44rem;
    }

    @media(min-width: 64rem){
        --gap: 4rem;
        --max-width: 56rem;
    }

    @media(min-width: 90rem){
        --max-width: 68rem;
    }
}

body{
    padding: 1rem;
    padding: var(--gap);
}

main{
    font-size: 1.2em;
    min-height: calc(80vh - ((var(--gap) * 2) + 80px));
}

section{
    background-color: $c-beige-base;
    margin: var(--gap) 0 var(--gap) calc(var(--gap) * -1);
    padding: var(--gap) calc(var(--gap) * 2);

    &:nth-child(2n){
        margin: var(--gap) calc(var(--gap) * -1) var(--gap) 0;
    }
}

footer{
    text-align: center;
    font-size: .7em;
    padding: var(--gap);
}

/** ids **/

#background-s{
    position: fixed;
    top: 0;
    right: 0;
    width: 90vw;
    height: auto;
    z-index: -1;
}

/** classes **/

.container{
    margin: 0 auto;
    max-width: 68rem;
    max-width: var(--max-width);
    position: relative;
    width: 100%;
}

.flex-centered{
    display: flex;
    flex-flow: column wrap;
    align-items: left;
    justify-content: center;
}

.main-content {
    max-width: 80ch;
}

.content-inline{
    p,
    nav,
    nav ul{
        display: inline;
    }

    nav ul{
        list-style: none;
        margin: 0;
        padding: 0;
    }

    nav li{
        display: inline-block;
        padding-right: .5rem;

        &:after{
            content: ",";
        }

        &:nth-last-child(2):after{
            content: " &";
        }

        &:last-child:after{
            content: ".";
        }
    }
}