.navbar {
    position: relative;

    #brand img{
        width: 102px;
    }
  
    ul {
      width: 100%;
      list-style: none;
      margin: 0;
      padding: 0;

      &:before,
      &:after{
          clear: both;
          content: "";
          display: table;
      }
    }
      
    li:not(#brand) {
        & > a {
            font-weight: bold;
            padding: .4rem 2rem;
        }

        float: right;
        text-align: right;
        height: 100%;
        margin-right: 0;
        width: calc(100% - 102px);
    }
    
    #brand{
        float: left;
        margin-right: auto;
        font-weight: 700;
    }
    
    @media(min-width: 46rem){
        ul{
            display: flex;
            flex-flow: row nowrap;
        }

        li:not(#brand) > a{
            font-weight: normal;
            padding: .7rem 2rem;
        }

        .home-link{
            display: none;
        }
      
        li:not(#brand){
            width: auto;
            margin-right: 7px;
        }
    }
}