body{
    font: 1.125rem / 1.3 sans-serif;
    color: $c-font-base;
}

h1, h2, h3, h4, h5, h6{
    line-height: 1.1;
    font-size: 1em;
    margin-bottom: 1em;
}

h1{
    font-size: 2em;
}

h2{
    font-size: 1.75em;
}

a{
    color: $c-font-base;
    display: inline-block;
    text-decoration: underline $c-bluegreen-light;
    transition: all .2s;

    &:hover,
    &:active,
    &:focus{
        text-decoration: underline $c-font-base;
    }
}

section > p{
    max-width: 64ch;
}