$c-purple-light: hsl(311, 100, 66);

$c-blue-light: hsl(195, 100, 66);

$c-bluegreen-light: hsl(157, 90, 71);

$c-green-light: hsl(85, 100, 87);

$c-font-base: hsl(298, 6, 18);

$c-beige-base: hsl(86, 18, 95);
$c-beige-90: hsla(86, 18, 95, .9);